.me {height: 500px;border-style: solid;border-color: darkslateblue;}
.me:hover{border-color: gold;border-radius:10px;border-width: 10px;}
.hi{height: 100px;}

h1{
    text-align: center;
    text-transform: uppercase;
    color: olivedrab;
}
